*, *::after, *::before { 
    box-sizing: border-box; 
    font-family: Gotham Rounded, sans-serif;  /* do sprawdzenia od czego jest ta linijka przez Szymona i Bartek */
}

body{
    background: linear-gradient(to right, hsl(200,100%,50%), hsl(175,100%,50%));